section {
  margin-bottom: 0;
}
.bg {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(img/vy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg h1 {
  text-align: center;
  color: white;
  padding-top: 20%;
  font-weight: bold;
  font-size: 3.3rem;
}
.abtus {
  margin-top: 8%;
  margin-bottom: 8%;
  font-size: 1.1rem;
}
.fl {
  margin-bottom: 50px;
}
.team {
  margin-bottom: 10%;
}

@media only screen and (max-width: 600px) {
  .bg h1 {
    padding-top: 50%;
  }
  .abtus h2 {
    font-size: 2.1rem;
  }
}
